.nav-link {
    color: orange;
    text-decoration: none;
}

main {
    max-width: 600px;
    margin: 24px auto;
}

section {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 3px dotted orange;
    padding: 16px;
}

.d-inline {
    display: inline;
}

nav ul {
    list-style: none;
}

body {
    background-color: #222222;
    color: #eeeeee;
}